# place in /etc/systemd/system, then
# systemctl daemon-reload
# systemctl enable can-interface
# systemctl start can-interface

[Unit]
Description=CAN interface setup (%N)
StartLimitIntervalSec=20
StartLimitBurst=3

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/can-interface.sh
SyslogIdentifier=%N
TimeoutStartSec=10
RestartSec=5

[Install]
WantedBy=multi-user.target
